.headingContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.6rem;
}

.heading {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.line {
    height: 5px;
    background-image: linear-gradient(to right, var(--purple), var(--orange));
}