.button {
    width: 100%;
    color: var(--black);
    border: 1px solid var(--gray);
    background-color: transparent;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    background-size: 150% 150%;
    cursor: pointer;
    transition: background-position 300ms;
}

.button:hover {
    background-color: var(--gray);
    background-position: 100% 100%;
    color: var(--white);
}